{% extends 'cards/base_generic.html' %}

{% block content %}

<div class="user_profile">
    <h2>Profile Details</h2>
    <div class="user_details">
        <p>Username: </p>
        <p>{{ user.username }}</p>
    </div>

    <div class="user_update">
        <h2>Update Details</h2>
        <div class="update_password">
            <form method="post" action="{% url 'update_password' %}">
                {% csrf_token %}
                <h3>Update Password</h3>
                <div>
                    <label>Current Password</label>
                    <input type="password" name="current_password" required>
                </div>

                <div>
                    <label>New Password</label>
                    <input type="password" name="new_password1" required>
                </div>

                <div>
                    <label>Confirm Password</label>
                    <input type="password" name="new_password2" required>
                </div>

                <button type="submit">SAVE</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}